<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiekai.demo.cos.Dao.CosDao">

    <update id="upload" parameterType="java.lang.String">
        update good
        set
            picture = #{urls}
        where good_id = 1
    </update>



</mapper>